<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CHAppGroupApp</key>
	<string>group.candyhouse.widget</string>
	<key>CHAPIKey</key>
	<string>iGgXj9GorS4PeH90mAysg1l7kdvoIPxM25mPFl3k</string>
</dict>
</plist>
